.expense-item {
  flex: 0 0 calc(20% - 20px); /* decreased width of each card */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  min-height: 300px; /* adjust as needed */
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
}

.expense-item:hover {
  transform: scale(1.07); /* increased scale on hover */
}

.expense-item__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.expense-item__delete {
  align-self: center;
  padding: 10px 20px;
  background-color: #dc3545;
  color: #ffffff;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.expense-item__delete:hover {
  background-color: #c82333;
}
@media (max-width: 600px) {
  .expense-item {
    flex: 0 0 calc(50% - 20px); /* adjust as needed */
  }
}
